header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 97;
}
div.togG{
    background-color: white;
    z-index: 98;
}
header>div:nth-child(1){
    width: 100%;
    height: 110px;
    background-color: white;
}
header>div:nth-child(1)>img{
    position: relative;
    width: 100%;
    height: 54px;
    cursor: pointer;
}
header>div:nth-child(2)>a{
    position: absolute;
    top:55px;
    padding: 15px 30px 0 0;
}
header>div:nth-child(2)>a>img {
    width: 103px;
}
header>div:nth-child(2)>input {
    margin: 4px 130px;
    width: 500px;
    height: 35px;
    border-radius: 8px;
    border: unset;
}
header>div:nth-child(2)>label{
    display: inline-block;
    width: 200px;
    height: 40px;
    right: 150px;
    position: absolute;
}
header>div:nth-child(3){
    left:20px ;
    top: 0;
    position: absolute;
}
header>div:nth-child(3)>a:nth-child(1){
    width: 30px;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 10px;
    box-shadow: 1px 0 rgba(0, 0, 0, 0.123);
}
header>div:nth-child(3)>a:nth-child(2){
    position: absolute;
    left: 55px;
    top: 65px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    width: 115px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
header>div:nth-child(3)>a:nth-child(2)>img{
    position: absolute;
    margin-top: 5px;
    right: 0;
}
header>div:nth-child(3)>a:nth-child(2)>p{
    display: inline-block;
    width: 80px;
    height: auto;
    position: absolute; 
    left: 5px;
}
div.searchbox{
    width: 800px;
    height: auto;
    position: absolute;
    margin-right: 150px;
    top: 75px;
}
div.searchbox>img{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2px;
    position: absolute;
    top: calc(50% - 25px / 2);
    right: 10px;
    z-index: 3;
}
div.searchbox>form{
    display: inline-block;
    width: 500px;
}
div.searchbox>form>input{
    width: 530px;
    height: 37px;
    font-family: yekan;
    font-size: 14px;
    padding-right:52px ;
    outline: none;
    border-radius: 8px;
    border: unset;
    background-color: rgb(244, 244, 244);
    position: absolute;
    top: calc(50% - 40px / 2);
}
div.nav {
    width: 100%;
    height: 45PX;
    position: fixed;
    top: 105px;
    box-shadow:1px 1px  rgba(0, 0, 0, 0.092) ;
    background-color: white;
    z-index: 98;
}
nav>div {
    position: fixed;
    display: inline-block;
    top:110px;
    right:20px ;
}
nav>div>ul>li {
    display: inline-block;
    font-family: yekan;
    position: relative;
    width: 140px;
    height: 40px;
    font-size: 13px;
    top: 0px;
}
#menu>a>p{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 16px;
    color: black;
}
#menu>a>img {
    position: absolute;
    top: 16px;
    width: 18px;
}
nav>div>ul>li:nth-last-child(1)>a{
    color: grey;
    display: inline-block;
    position: absolute;
    width: 120px;
    top: 15px;
    left: 70px;
}
nav>div>ul>li:nth-last-child(2)>a{
    width: 70px;
    color: grey;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
}
nav>div>ul>li>a>p{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 35px;
    color: gray;
}
nav>div>ul>li>a>img {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 18px;
}
nav>div>ul>li:nth-child(3) {
    width: 95px;
}
nav>div>ul>li:nth-child(4) {
    width: 115px;
}
nav>div>ul>li:nth-child(5) {
    width: 140px;
}
nav>div>ul>li:nth-child(6) {
    width: 110px;
}

div.shadow {
    display: inline-block;
    width: 1px;
    height: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.122);
    position: absolute;
    top: 15px;
}

nav>div>ul>li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left:0 ;
    bottom: 0px;
    background-color: #ff0000;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
}
nav>div>ul>li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav>div>ul>li:nth-child(1):after {
    content: '';
    position: absolute;
    width:130px;
    transform: scaleX(0);
    height: 2px;
    left:0px ;
    bottom: 0px;
    background-color: #ff0000;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
}
nav>div>ul>li:nth-child(1):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav>div>ul>li:nth-child(8):after {
    content: '';
    position: absolute;
    width:75px;
    transform: scaleX(0);
    height: 2px;
    left:60px ;
    bottom: 0px;
    background-color: #ff0000;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
}
nav>div>ul>li:nth-child(8):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav>div>ul>li:nth-child(9):after {
    content: '';
    position: absolute;
    width: 115px;
    transform: scaleX(0);
    height: 2px;
    left:85px;
    bottom: 0px;
    background-color: #ff0000;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
}
nav>div>ul>li:nth-child(9):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#menu:hover>div.menu {
    display: block;
}
div.underswiper {
    width: 100%;
    height: 100px;
    position: relative;
    top: 160px;
    text-align: center;
}
div.underswiper>div {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin:15px 45px 10px 45px;
}
div.underswiper>div>a>figure>img{
    width: 50px;
}
div.underswiper>div:last-child {
    background-color: rgba(184, 184, 184, 0.179);
    border-radius: 50%;
    height: 50px;
}
div.underswiper>div:last-child>a>figure>img{
    scale: 0.6;
}

div.shegeftsuper{
    width: 100%;
    height:auto;
    position: relative;
    top: 180px;
    cursor: pointer;
    right: calc(50% - 100% / 2);
}
div.shegeftsuper>img {
    display: block;
    margin: auto;
    scale: 0.86;
}
div.undersuper {
    width: 100%;
    height: auto;
    position: relative;
    top: 220px;
    text-align: center;
    padding: 10px;
}
div.undersuper>div {
    width: 300px;
    height: auto;
    display: inline-block;
    margin: auto;
}
div.undersuper>div>img {
    width: 300px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
div.dastebandi {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    top: 230px;
}
div.dastebandi>div{
    width: 170px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
div.dastebandi>div>figure>img {
    width: 150px;
}
div.underdaste {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 230px;
    margin-bottom: 30px;
}
div.underdaste>div {
    width:  600px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
div.underdaste>div>img {
    width: 600px;
    border-radius: 15px;
}
div.pishnahad {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 230px;
    margin-bottom: 30px;
}
div.pishnahad>div{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 10px auto;
    border-radius: 10px;
    
}
div.pishnahad>div>div {
    width: 14%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
div.pishnahad>div>div>figure>img {
    width: 100px;
}
div.pishnahad>div>div>figure{
    padding: 5px;
}
div.pishnahad>div>div:nth-child(1) ,div.pishnahad>div>div:nth-child(2) , div.pishnahad>div>div:nth-child(3) , div.pishnahad>div>div:nth-child(4) , div.pishnahad>div>div:nth-child(5) ,div.pishnahad>div>div:nth-child(6) {
    box-shadow: -1px 1px rgba(0, 0, 0, 0.122);
    margin-left: -4px;
}
div.pishnahad>div>div:nth-child(7) {
    box-shadow: 0 1px rgba(0, 0, 0, 0.122);
}
div.pishnahad>div>div:nth-child(8) , div.pishnahad>div>div:nth-child(9) , div.pishnahad>div>div:nth-child(10) , div.pishnahad>div>div:nth-child(11) , div.pishnahad>div>div:nth-child(12) , div.pishnahad>div>div:nth-child(13) , div.pishnahad>div>div:nth-child(14) {
    box-shadow: -1px 0 rgba(0, 0, 0, 0.122);
    margin-left: -4px;
}
div.mahboob {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;
}
div.bordermahboob {
    margin: auto;
    width: 80%;
    height:170px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding-top: 10px;

}
div.bordermahboob>figure{
    display: inline-block;
    width: 350px;
    position: absolute;
    left: calc(50% - 100px);
}
div.bordermahboob>figure>img {
    display: inline-block;
}
div.bordermahboob>figure>h2 {
    display: inline-block;
    position: absolute;
    top: -8px;
    margin-right: 5px;
}
div.bordermahboob>div {
    width: 80%;
    position: absolute;
    top: 40px;
}
div.bordermahboob>div>div {
    width: 110px;
    height: inherit;
    display: inline-block;
    vertical-align: center;
    margin: 10px;
}
div.bordermahboob>div>div>img {
    width: 100px;
    cursor: pointer;
}
div.bordermahboob>div>div:nth-child(1) , div.bordermahboob>div>div:nth-child(2) , div.bordermahboob>div>div:nth-child(3) , div.bordermahboob>div>div:nth-child(4) , div.bordermahboob>div>div:nth-child(5) , div.bordermahboob>div>div:nth-child(6) , div.bordermahboob>div>div:nth-child(7) , div.bordermahboob>div>div:nth-child(8) {
    box-shadow: -1px 0 rgba(0, 0, 0, 0.122);
}

div.panjere {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;
}
div.panjere>div {
    width: 80%;
    height: inherit;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
} 
div.panjere>div>div {
    width: 24%;
    height: inherit;
    display: inline-block;
    text-align: center;
}

div.panjere>div>div>figure {
    padding: 5px 15px 0 0;
    margin-bottom: 10px;
    text-align: right;
}
div.panjere>div>div>figure>p {
    font-size: 13px;
    color: grey;
}
div.panjere>div>div>img {
    display: inline-block;
    width: 125px;
    cursor: pointer;
}
div.panjere>div>div>div {
    padding: 20px 0 20px 0;
}
div.panjere>div>div>div>a {
    color: #63d6ef;
}
div.panjere>div>div>img:nth-of-type(1){
    box-shadow: -1px 1px rgba(0, 0, 0, 0.062);
    padding: 0 0 10px 10px ;
} 
div.panjere>div>div>img:nth-of-type(2){
    box-shadow: 0 1px rgba(0, 0, 0, 0.062);
    padding: 0 10px 10px 0 ;

}
div.panjere>div>div>img:nth-of-type(3) {
    box-shadow: -1px 0 rgba(0, 0, 0, 0.062);
    margin-top: -20px;
    padding: 10px 0 0px 10px ;
    margin-top: -10px;
}
div.panjere>div>div>img:nth-of-type(4) {
    padding: 10px 10px 0 0;
} 
div.panjere>div>div:nth-child(1) , div.panjere>div>div:nth-child(2) , div.panjere>div>div:nth-child(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.119);
}

div.digiplus{
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;   
}
div.digiplus>div {
    width:1250px;
    height: 340px;
    top: 0px;
    position: relative;
    background-color: #941B80;
    margin: auto;
    border-radius: 20px;
    padding: 20px 20px 10px 0 ;
}
 div.digiplus>div>div.plusright{
    width: 370px;
    height: 300px;
    position: absolute;
    left: 400px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
}

div.plusright>div:nth-child(1){
    width: 100%;
    height: 10%;
    padding: 15px;
}
div.plusright>div:nth-child(1)>figure{ 
    display: inline-block;
}
div.plusright>div:nth-child(1)>figure:nth-child(1){
    margin-left: 170px;
}
div.plusright>div:nth-child(1)>figure>img , div.plusright>div:nth-child(1)>figure>h4 , div.plusright>div:nth-child(1)>figure>a{
    display: inline-block;
    vertical-align: top;
}
div.plusright>div:nth-child(2){
    width: 100%;
    height: 70%;
    padding: 10px;
}
div.plusright>div:nth-of-type(2)>figure{
    display: inline-block;
}
div.plusright>div:nth-of-type(2)>figure>img {
    width: 100px;
    margin: 5px 5px -10px 5px;
}
div.plusright>div:nth-of-type(2)>figure>figcaption{
    font-size: 12px;
    text-align: right;
    color: #941B80;
}
div.digiplus>div>div.plusleft{
    width: 370px;
    height: 300px;
    position: absolute;
    left: 20px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
}
div.digiplus>div>div.digipluslogo {
    width: 370px;
    height: inherit;
    display: inline-block;
    position: absolute;
    right: 50px;
}
div.digiplus>div>div.digipluslogo>figure {
    text-align: right;
    color: white;
}
div.digiplus>div>div.digipluslogo>div>a{
    width: 100px;
    padding: 3px 8px 3px 8px;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    color: white;
    top: 80px;
}
div.digiplus>div>div.digipluslogo>div>img {
    width: 350px;
} 
div.plusright>div>figure>a {
    color: #941B80;
    font-size:14px ;
}
div.plusleft>div>figure>a {
    color: #941B80;
    font-size:14px ;
}
div.plusleft>div:nth-child(1){
    width: 100%;
    height: 10%;
    padding: 15px;
}
div.plusleft>div:nth-child(1)>figure{ 
    display: inline-block;
}
div.plusleft>div:nth-child(1)>figure:nth-child(1){
    margin-left: 170px;
}
div.plusleft>div:nth-child(1)>figure>img , div.plusleft>div:nth-child(1)>figure>h4 , div.plusleft>div:nth-child(1)>figure>a{
    display: inline-block;
    vertical-align: top;
}
div.plusleft>div:nth-child(2){
    width: 100%;
    height: 70%;
    padding: 10px;
}
div.plusleft>div:nth-of-type(2)>figure{
    display: inline-block;
}
div.plusleft>div:nth-of-type(2)>figure>img {
    width: 100px;
    margin: 5px 5px -10px 5px;
    cursor: pointer;
}
div.plusleft>div:nth-of-type(2)>figure>figcaption{
    font-size: 12px;
    text-align: right;
    color: #941B80;
}

div.digiclub {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;   
}
div.digiclub>div {
    width: 80%;
    height: 80px; 
    background-image: linear-gradient(to right , #35A6C8 , #007295  ); 
    border-radius: 10px;
    margin: auto;
    position: relative;
    padding: 10px;
}
div.digiclub>div>div {
    cursor: pointer;
}
div.digiclub>div>img {
    scale: 0.8;
    position: absolute;
    right: 25px;
    top: 25px;
}
div.digiclub>div>div:nth-of-type(1){
    width: 20%;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
div.digiclub>div>div:nth-of-type(1)>img , div.digiclub>div>div:nth-of-type(2)>img , div.digiclub>div>div:nth-of-type(3)>img{
    width: 110px;
}
div.digiclub>div>div:nth-of-type(1)>img {
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
}
div.digiclub>div>div:nth-of-type(1)>figure , div.digiclub>div>div:nth-of-type(2)>figure , div.digiclub>div>div:nth-of-type(3)>figure{
    font-size: 16px;
    margin: 20px 20px 0 0;
}
div.digiclub>div>div:nth-of-type(1)>figure>p , div.digiclub>div>div:nth-of-type(2)>figure>p , div.digiclub>div>div:nth-of-type(3)>figure>p{
    display: inline-block;
    vertical-align: top;
}
div.digiclub>div>div:nth-of-type(2){
    width: 20%;
    height: 60px;
    background-color: white;
    position: absolute;
    left:calc(20% + 15px);
}
div.digiclub>div>div:nth-of-type(3){
    width: 20%;
    height: 60px;
    background-color: white;
    position: absolute;
    left:calc(40% + 20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.topsale {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;   
}
div.topsale>div {
    position: relative;
    width: 80%;
    height: inherit;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 10px;
}
div.topsaletop{
    width: 100%;
    height: 10%;
}
div.topsaletop>figure {
    display: inline-block;
}
div.topsaletop>figure>img {
    display: inline-block;
    scale: 0.9;
}
div.topsaletop>figure>p {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
div.topsaletop>figure>a {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
    color: #63d6ef;
}
div.topsale1 {
    display: inline-block;
    width: 24%;
    height: 300px;
    margin-top: 20px;
}
div.topsale1>figure {
    width: 100%;
    height: 32%;
    display: block;
    padding: 10px 10px 0 0;
    box-shadow: 0 1px rgba(0, 0, 0, 0.066);
    cursor: pointer;
}
div.topsale1>figure>img {
    width: 70px;
    display: inline-block;
}
div.topsale1>figure>p{
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
}
div.topsale1>figure>p:nth-of-type(1){
    width: 20px;
    height: 50px;
    color: #63d6ef;
    font-size: 35px;
    line-height: 40px;
    margin-left: 15px;
}
div.topsale1>figure>p:nth-of-type(2){
    font-size: 11px;
    width: 150px;
    text-align: right;
}

div.undertopsale {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;   
}
div.undertopsale>div {
    width: 80%;
    height: inherit;
    margin: auto;
    padding: 10px;
}
div.undertopsale>div>a {
    display: inline-block;
}
div.undertopsale>div>a>img {
    width: 1200px;
    border-radius: 10px;
}
div.haraj {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    margin-bottom: 30px;   
}
div.haraj>div {
    width: 80%;
    height: inherit;
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}
div.haraj>div>figure>img {
    display: inline-block;
    scale: 0.9;
}
div.haraj>div>figure>p {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
div.haraj>div>div {
    width: 100%;
}
div.haraj>div>div>img {
    width: 15%;
    display: inline-block;
    cursor: pointer;
    border-left: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
div.haraj>div>div>img:nth-child(6) , div.haraj>div>div>img:nth-child(12) , div.haraj>div>div>img:nth-child(18) {
    border-left: unset;
}
div.haraj>div>a {
    color: #63d6ef;
    font-size: 16px;
}
div.khandani {
    width: 100%;
    height: auto;
    position: relative;
    top: 230px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.086);
    padding-bottom: 50px;
    margin-bottom: 50px;   
}
div.khandani>div {
    width: 80%;
    height: inherit;
    margin: auto;
    padding: 10px;
    position: relative;
}
div.khandani>div>div>figure:nth-child(1){
    position: absolute;
    right: 35px;
}
div.khandani>div>div>figure:nth-child(2){
    position: absolute;
    left: 35px;
}
div.khandani>div>div>figure:nth-child(2)>a {
    color: #63d6ef;
}
div.khandanicontent>div {
    width: 24%;
    height: 250px;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
}
div.khandanicontent>div>figure>img {
    width: 290px;
}
div.khandanicontent>div>figure>figcaption {
    font-size: 15px;
    font-weight: lighter;
}
div.footer{
    width: 100%;
    height: auto;
    position: relative;
    top: 200px;
}
div.footertop {
    width: 100%;
}
div.footertop>figure:nth-of-type(1) {
    position: absolute;
    right: 30px;
    top: 10px;
}
div.footertop>figure:nth-of-type(1)>img {
    width: 100px;
}
div.footertop>figure:nth-of-type(2) {
    position: absolute;
    left: 30px;
    top: 10px;
} 
div.footertop>figure:nth-of-type(2)>a {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    width: auto;
    height: auto;
    color: grey;
    border: 1px solid rgba(128, 128, 128, 0.34);
    border-radius: 10px;
    font-size: 14px;
}
div.footertop>figure:nth-of-type(3) {
    position: absolute;
    top: 60px;
    right: 30px;
    font-size: 14px;
    color: rgb(50, 50, 50);
}
div.footertopicons {
    width: 100%;
    height: auto;
    position: relative;
    top: 100px;
    text-align: center;
}
div.footertopicons>figure {
    display: inline-block;
    margin: 20px 80px 20px 80px;
    cursor: pointer;
}
div.footertopicons>figure>img {
    scale: 0.9;
}
div.footertopicons>figure>figcaption {
    font-size: 13px;
    color: rgb(50, 50, 50);
}
div.footerlist {
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    top: 100px;
}
div.footerlist1 {
    width: 23%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
div.footerlist1>ul>li>a {
    color: rgba(128, 128, 128, 0.745);
    line-height: 30px;
}
div.footerlistinput {
    width: 23%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
div.footerlistinput>img {
    margin: 15px;
    cursor: pointer;
}
div.footerlistinput>form {
    margin: 10px;
    vertical-align: top;
}
div.footerlistinput>form>input {
    border: unset;
    width: 60%;
    height: 30px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

div.footerlistinput>form>a {
    display: inline-block;
    background-color: rgb(205, 205, 205);
    color: white;
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}
div.footerunderlist {
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    top: 120px;
    background-color: #3C4B6D;
    border-radius: 5px;
    box-shadow: 1px 0 grey;
    margin-bottom: 30px;
}

div.footerunderlist>figure {
    padding: 5px;
}
div.footerunderlist>figure>img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
div.footerunderlist>figure>p {
    display: inline-block;
    font-size: x-large;
    color: white;
}
div.footerunderlist>figure:nth-of-type(2) {
    position: absolute;
    left: 0 ;  
    top: 10px;  
}
div.footerunderlist>figure:nth-of-type(2)>img {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
div.footerunderlist>figure:nth-of-type(2)>img:nth-last-of-type(1){
    width: 45px;
    background-color: white;
    border-radius: 3px;
}
div.footerinfo {
    position: relative;
    top: 120px;
    padding: 20px;
    width:100%;
    height: 200px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.12) , 0 -1px rgba(0, 0, 0, 0.12);

}
div.footerinfo>figure:nth-of-type(1) {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
div.footerinfo>figure:nth-of-type(1)>p {
    font-size: 14px;
    color: grey;
}
div.footerinfo>figure:nth-of-type(2) {
    text-align: left;
    display: inline-block;
    width: 49%;
}
div.footerinfo>figure:nth-of-type(2)>img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin: 5px;
    border: 1px solid rgba(128, 128, 128, 0.274);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
div.footerinfo>figure:nth-of-type(1)>a {
    font-size: 14px;
    color: grey;
}
footer>p {
    position: relative;
    color: grey;
    font-size: 12px;
    top: 140px;
    margin: 15px;
}
footer>img {
    width: 100%;
    position: relative;
    top: 160px;
    cursor: pointer;
}

